@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'vai';
    src: url('../fontes/IDroid\ Italic.otf') format(Opentype);
}

:root {
    --cor0:#C5EBD6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4:#1a5c37;
    --cor5: #063d1e;

    --fonte-padrão:Arial, Verdana, helvetica, sans-serif;
    --font-destaque:'Bebas Neue', 'cursive'; 
    ---font-android: 'vai' 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(---font-android);

}


header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    color: white;
    min-height: 150px;
    padding-top: 30px;

}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.247) ; 
}

header > p {
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    color: white;
    max-width: 550px;
    margin: auto;
    text-align: center;
    padding: 0px 15px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.116) ;
    margin-bottom: 21px;


}

nav {
    padding: 6px 15px 6px 15px ;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.774) ;
}

nav > a{
    color: var(--cor1);
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    transition-duration: .4s;
}

nav > a:hover {
    background-color: var(--cor3);
}

a.externo::after {
    content: '\00a0\1F517\ ';
}

main{
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}

main h1 {
    color: var(--cor4);
    font-family: var(--font-destaque);

}

main h2 {
    font-family: var(--font-destaque);
    color: var(--cor4);
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor2), white );
}

main p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    color: var(--cor4);
    background-image:linear-gradient(to left, var(--cor0), transparent) ;
    border-radius: 5px;
    padding: 2px 5px;
    transition-duration: 1s;
    font-weight: bold;

}

main a:hover{
    color: var(--cor5);
    background-image:linear-gradient(to right, var(--cor4), transparent) ;
    font-weight: bold;

}

main img {
    max-width: 100%;
    min-width: 10%;
}

main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}


div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
}

aside > h3 {
    background-color: var(--cor5);
    color: white;
    margin: -10px -10px 0px -10px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px ;
}

aside > ul {
    list-style-type: '\2714\00a0\00a0 ';
    list-style-position: inside;
    columns: 2;
}



footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 5px 0px;
}

footer {
    color: white;
    font-weight: lighter;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}